<!-- <section>
<div class="text">
    <h1 class="first">SOS ALERT APP</h1>
    <h2 class="second">  Personal Safety at your Fingerprint...!!</h2>
</div>
</section> -->
    <!-- <div class="banner">
</div>
<div class="container">
    <nav>
      <a href="next-page.html"><h2>Next⏩</h2></a>
    </nav> -->
<!-- <div class="container mt-5 mb-5">
    <h1 class="text-center">How to Use <span class="highlight">SOS APP</span></h1>
    <div class="row mt-5">
        <div class="col-lg-4 mt-2">
            <div class="stepBox">
                <img src="https://technovuus.araiindia.com/assets/icon_image/v_1596615358.png" class="img">
                <h1>1</h1>
                <p>Register</p>
            </div>
        </div>
        <div class="col-lg-4 mt-2">
            <div class="stepBox">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSJoWvuLy03_zrbTwgHhODZBCN4JWFfUQ7p7rlXWEKSqgnE8CP1NEngwW4qPCYJJ3ef5XU&usqp=CAU" class="login">
                <h1>2</h1>
                <p>Login</p>
            </div>
        </div>
        <div class="col-lg-4 mt-2">
            <div class="stepBox">
                <img src="https://www.pikpng.com/pngl/b/47-471635_phone-phone-icon-with-black-background-clipart.png"class="call">
                <h1>3</h1>
                <p>Contact</p>
            </div>
        </div>
    </div>
</div>

<div class="container mt-4 mb-4">
    <h1 class="text-center">Our <span class="highlight">Highlights</span></h1>
     <div class="row">
        <div class="news">

<h1>Stalin Introduced 'Kaavalan' Application For Police Assistance
</h1>
</div>
<div>
<p>The Hans news</p>
<p>Hans News Service | 5 Apr 2022 11:00 AM IST</p>
<img src="../../../assets/stalin-denoised_sharpened_upscaled_x4.webp" width="500" height="300">
<span class="side">
    <ul>
        <li>The 'Kaaval Uthavi' app which will be used for helping police officers was introduced at the Secretariat on Monday by Chief Minister M K Stalin.
</li>
    </ul>
</span>
</div> -->
    <!-- </div>
    <a routerLink="news" class="viewmorebtn">view more <i class="bi bi-arrow-right"></i></a>
</div> -->
<!-- Carousel wrapper -->

<h1>
    <span>Always </span>
    <div class="message">
      <div class="word1">Be Alert!</div>
    </div>
  </h1>