 
<section >
  
<div id="slider">
    <figure>
          <img src="../../../assets/emergency1.jpg" alt="image">
          <img src="../../../assets/emergency2.jpg" alt="image">
          <img src="../../../assets/emergency3.jpg" alt="image">
    </figure>
</div>
<div>
    <img src="../../../assets/solution.webp" class="solution" alt="solution">
    <h1 class="text">SOS - Solution for Emergency </h1>
    <h3 class="text1">Personal Safety at your Fingerprints.Our web-based control center interface allows effective monitoring at all times.</h3><br>
    <button id="submitButton" type="submit" class="btn btn-primary" routerLink="/signup">REGISTER NOW</button>
</div>
    <div>
        <p class="para">*In case of women and children, you can use 112 India mobile App to activate SHOUT feature, which alerts registered volunteers in vicinity for immediate assistance apart from activating ERC.
            <br>THIS IS AN EMERGENCY FACILITY.
            USERS ARE ADVISED TO USE THIS SERVICE CAREFULLY</p>
    </div>
    <img src="../../../assets/features.png" class="feature" alt="feature">
  <div class="para1">
      <h1 class="text-danger">Features</h1>
      <div class="list">
          <ul id="list">
              <li class="first">Single emergency response number across the country(Dial-112).</li>
              <li class="first">24x7 Effective emergency response services for Citizens.</li>
              <li class="first">Citizens can request help through Voice Call, SOS, SMS, Email, Web Request and Panic buttons.</li>
              <li class="first">Automatic location identification of the caller/victim.</li>
              <li class="first">Dynamic emergency response service from the nearest emergency response vehicle.</li>
              <li class="first">Service from Police, Fire, Medical and Natural Disaster Management Teams.</li>
              <li class="first">Emergency service coordination from a centralized control center in State capital/UTs.</li>
              <li class="first">Improves decision making in emergency situation which minimizes response time.</li>
              <li class="first">Live tracking of emergency</li>
          </ul>
        </div>  
  </div>
  <div>
      <img src="../../../assets/map.png" class="map" alt="map">
      <p class="description">An SOS alert can be activated anytime simply by pushing the power button
           when you feel your safety or the safety of another is in imminent danger.
           The exact location of the person in distress is forwarded to the Control Room of the state 
           and the location of the victim is displayed on the GIS map of the city of a CallTaker.</p>
  </div>
    <video  class="video" autoplay>
        <source src="../../../assets/112 India Mobile App _ How to use panic button.mp4" type="video/mp4">
        <track label="english"  kind="video" srclang="en">
      </video>
    </section>
   
      