<section class="entire">
  <div class="container">
    <h2 class="heading">Report Form</h2>
    <form [formGroup]="addform">
      <div class="row100">
        <div class="col">
          <div>
          <label for="name" class="text">Name </label>
          <input for="text" id="name" formControlName="name" class="form-control" />
          <span class="text-danger" *ngIf="addform.controls['name'].touched && addform.hasError('required','name')">
            * Name is required!!
          </span>
         </div>
        <div>
            

          </div>
        </div>
        <div class="col">
         <div>
            <label for="mobile no">Mobile no </label>
            <input for="number" id="mobileno" formControlName="mobileno" class="form-control" />
            <span class="text-danger" *ngIf="addform.controls['mobileno'].touched && addform.hasError('required','mobileno')">
              * mobileno is required!!
            </span>
            <span class="text-danger" *ngIf="addform.hasError('pattern','mobileno')">
              * mobileno should contain 10 Numbers!!
            </span>   

          </div>
        </div>
        <div class="col">
            <div>
            <label for="dateofbirth">Age</label>
            <input for="text" id="dateofbirth" formControlName="dateofbirth" class="form-control" />
            <span class="text-danger" *ngIf="addform.controls['dateofbirth'].touched && addform.hasError('required','dateofbirth')">
              * Age is required!!
            </span>
          </div>
        </div>
        <div class="col">
          <div >
            <label for="gender" >Gender </label>
            <input for="text" id="gender" formControlName="gender" class="form-control" />
           
            <span class="text-danger" *ngIf="addform.controls['gender'].touched && addform.hasError('required','gender')">
              * gender is required!!
            </span>
            
          </div>
        </div>
        <div class="col">
          <div>
            <label for="city">City</label>
            <input for="text" value="" formControlName="city" class="form-control" id="city" />
            <span class="text-danger" *ngIf="addform.controls['city'].touched && addform.hasError('required','city')">
              * city is required!!
            </span>
            
          </div>
        </div>
      </div>
      <div class="row100">
        <div class="col">
          <div>
            <label for="time" >Time</label>
           
            <input type="time" value="" formControlName="time" class="form-control" id="time" />
            <span class="text-danger" *ngIf="addform.controls['time'].touched && addform.hasError('required','time')">
              * Time is required!!
            </span>
          </div>
        </div>
      </div>
      <div class="row100">
        <div class="col">
          <input type="submit" value="send" (click)="addReport(this.addform.value)" [disabled]="!addform.valid" />
        </div>
  <button type="button" class="btn btn-primary" id="button" routerLink="/dashboard">Back</button>

      </div>
    </form>
  </div>
</section>