/* You can add global styles to this file, and also import other style files */
@import url(../node_modules/bootstrap/dist/css/bootstrap.css);
/* body{
  
  background-image:url("./assets/background.jpg");
} */

@import "~bootstrap/dist/css/bootstrap.min.css";
@import '~ngx-toastr/toastr';

body{
    background-image: url('./assets/surf.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
  
   overflow-x: hidden;
   
   
}

