<div class="card-wrapper">
    <div class="faq-card">  
      <section class="faq-content">
        <h1>FAQ</h1>
  
        <div class="faq-articles">
  
          <article class="faq-accordion">
  
            <input type="checkbox" class="tgg-title" id="tgg-title-1">
  
            <div class="faq-accordion-title">
              <label for="tgg-title-1">
                <h2>When can I call an emergency number?</h2>
                <span class="arrow-icon">
                  <img src="https://raw.githubusercontent.com/Romerof/FAQ-accordion-card/main/images/icon-arrow-down.svg">
                </span>
              </label>
            </div>
  
            <div class="faq-accordion-content">
              <p>You can call 112 or 100 when you urgently need a fire brigade, an ambulance or the police. If there is no urgency, you better call the local fire brigade,or the local police. </p>
            </div>
  
          </article> <!-- faq accordion -->
  
          <article class="faq-accordion">
  
            <input type="checkbox" class="tgg-title" id="tgg-title-2">
  
            <div class="faq-accordion-title">
              <label for="tgg-title-2">
                <h2>
                    Why 112 ? When dial 100 was already in use?
                </h2>
                <span class="arrow-icon">
                  <img src="https://raw.githubusercontent.com/Romerof/FAQ-accordion-card/main/images/icon-arrow-down.svg">
                </span>
              </label>
            </div>
  
            <div class="faq-accordion-content">
              <p>112 is a globally recognized single emergency number, adopted by most of European countries, common wealth nations and mapped to emergency numbers in USA and Canada. </p>
            </div>
  
          </article> <!-- faq accordion -->
  
          <article class="faq-accordion">
  
            <input class="tgg-title" type="checkbox" id="tgg-title-3">
  
            <div class="faq-accordion-title">
              <label for="tgg-title-3">
                <h2>
                    Can I call 112 with my mobile phone?
                </h2>
                <span class="arrow-icon">
                  <img src="https://raw.githubusercontent.com/Romerof/FAQ-accordion-card/main/images/icon-arrow-down.svg">
                </span>
              </label>
            </div>
  
            <div class="faq-accordion-content">
              <p>You can call the emergency number 112 with your mobile phone from all states/UTs. Even when the mobile operator network is not available, you can call the emergency number 112 with your mobile</p>
            </div>
  
          </article> <!-- faq accordion -->
  
          <article class="faq-accordion">
  
            <input class="tgg-title" type="checkbox" id="tgg-title-4">
  
            <div class="faq-accordion-title">
              <label for="tgg-title-4">
                <h2>
                    How is the emergency number 112 introduced in India?
                </h2>
                <span class="arrow-icon">
                  <img src="https://raw.githubusercontent.com/Romerof/FAQ-accordion-card/main/images/icon-arrow-down.svg">
                </span>
              </label>
            </div>
  
            <div class="faq-accordion-content">
              <p>
                In India your 112 call temporarily still arrives at an operator of the help centre 112 of the province where you are. Calls to the number 112 for urgent police assistance for Communication</p>
            </div>
  
          </article> <!-- faq accordion -->
  
          <article class="faq-accordion">
  
            <input class="tgg-title" type="checkbox" id="tgg-title-5">
  
            <div class="faq-accordion-title">
              <label for="tgg-title-5">
                <h2>
                    What is 112 ?
                </h2>
                <span class="arrow-icon">
                  <img src="https://raw.githubusercontent.com/Romerof/FAQ-accordion-card/main/images/icon-arrow-down.svg">
                </span>
              </label>
            </div>
  
            <div class="faq-accordion-content">
              <p> "112" is the Single Emergency number, people in distress can call 24h/7 in all 36 states/UTs of India to get immediate assistance from the fire brigade, a medical team or the police.</p>
            </div>
  
          </article> <!-- faq accordion -->
  
        </div> <!-- faq articles -->
  
      </section> <!-- faq -->
  
    </div> <!-- faq card -->
  
  </div> <!-- card wrapper -->
  
  