
html {
    box-sizing: border-box;
  }
* {
box-sizing: inherit;
}
/* global */
/*================================================*/
body {
    background-size: cover;
    
    color: var(--neutral-dark-color);
    font-family: var(--principal-font);
    font-size: 12px;

  margin:0;
  }
.faq{
    margin-left: 800px;
    margin-top: -500px;
  }
.card-wrapper {
    margin-left: 150px;
    min-height: 100vh;
    padding-bottom: 50px;
    padding-top: 25px;

   /* footer fixed */
  }
p {
    line-height: 1.5;
    margin: 0 0 12px;
  }
h2 {
    margin: 12px 0;
  }
/* generics */
/*================================================*/
.content-cc{
    align-items: center;
    display: flex;
    justify-content: center;
  }
/* FAQ card */
/*================================================*/
.faq-card {
      background-color: #fff;
      border-radius: 20px;
      box-shadow: 0px 60px 50px -25px rgba(0, 0, 0, 0.35);
      margin-top: 90px;
      max-width: 550px;
    }
.faq-ilustrations{
    position: relative;
  }
.faq-ilustrations .mobile.ilust{
    left:-30px;
    position: absolute;
    right: 0;
    top:-110px;
  }
.mobile{
    display: block;
    margin: 0 auto;
  }
.faq-content {
    padding: 9px 25px 3rem;
    width: 531px;
  }
.faq-content h1 {
    color: var(--primary-dark-color);
    font-size: 32px;
    text-align: center;
  }
.faq-accordion {
    border-bottom: 1px solid hsl(240, 5%, 91%);
    padding: 8px 0;
  }
input.tgg-title {
    all:unset;
    appearance: unset;
  }
.faq-accordion-title label{
    align-items: center;
    cursor: pointer;
    display: flex;
  }
.faq-accordion-title h2{
    color: var(--neutral-dark-color);
    font-size: 16px /*var(--font-size)*/;
    font-weight: 400;
  }
.faq-accordion-title span{
    margin-left: auto;
    transition: transform .4s ease-in-out;
  }
/* FAQ card: main content */
/*================================================*/
.faq-accordion-content {
    color: var(--neutral-soft-color);
    max-height: 0;
    overflow: hidden;
    transition: max-height .4s ease-in-out;
  }
/* Effects */
/*================================================*/
/* main title, accordion title effects */
.faq-accordion-title:hover h2{
    color: var(--primary-soft-color)
  }
/* onclick "" */
.faq-accordion .tgg-title:checked + div>label>h2 {
    font-weight: 700;
  }
.faq-accordion .tgg-title:checked + div>label>span {
    transform: rotate(180deg);
    will-change: transform;
  }
/* main content, acordion text effect */
.faq-accordion .tgg-title:checked ~ .faq-accordion-content{
    max-height: 80px;
    will-change: max-height;
  }
