.container{
    height: 150vh;
    border: 2px solid gray;
  background-image: linear-gradient(to right,rgb(135, 162, 231),rgb(141, 193, 241));
    margin-top: 40px;
}
.caption{
    text-align: center;
}