

<div class='container'>
    <div class="container_content">
        <div class="container_content_inner">
            <div class="title">
                <h1 class="our">Our</h1>
                <h1 class="up">Mission</h1>
                <h3>To ensure Women's safety at all times</h3>
            </div>
            <div class="par">
                <p class="text-primary">
                    I'm Safe women's safety app aims to use technology to guarantee that women are secure at all times
                    around the globe.
                </p>
            </div>
        </div>
    </div>
        <div class="img-inner">
            <img src="../../assets/mission.svg" class="image">
        </div>
</div>


<!-- <div class="overlay"></div> -->