<section id="page">
    
    
  <header class="x">
   
    <p>Brand Name</p>
  
  </header>
  <nav>
    <div class="left-sidebar x">
    <ul>
      <li><a href="#"><em class="fa fa-home"></em> <span>Dashboard</span></a></li>
      <li><a href="#"><em class="fa fa-user"></em> <span>Customers</span></a></li>
      <li><a href="#"><em class="fa fa-comment"></em> <span>Messages</span></a></li>
      <li><a href="#"><em class="fa fa-question-circle"></em> <span>Help</span></a>
        <li><a href="#"><em class="fa fa-gear"></em> <span>Settings</span></a>
          <li><a href="#"><em class="fa fa-lock"></em> <span>Password</span></a>
            <li><a href="#"><em class="fa fa-sign-out"></em> <span>Sign Out</span></a>
      </li>
    </ul>
    </div>
  </nav>
  

  
  
</section>
<div class="container1">
  
  <div class="cards">
    <div class="card one">
      <div class="details">
        <div class="content">
          <h2>Mail</h2>
          <p>This is the description.</p>
          <a href="#" class="button" routerLink="/contactdetails">View</a>
        </div>
      </div>
    </div>
    <div class="card one">
      <div class="details">
        <div class="content">
          <h2>Report</h2>
          <p>
            This is the description.
          </p>
          <a href="#" class="button" routerLink="/reportdetails">View</a>
        </div>
      </div>
    </div>
    <div class="card one">
      <div class="details">
        <div class="content">
          <h2>Query</h2>
          <p>This is the description.</p>
          <a href="#" class="button"routerLink="/viewquery">View</a>
        </div>
      </div>
    </div>
    <div class="card two">
      <div class="details">
        <div class="content">
          <h2>Feedback</h2>
          <p>This is the description.</p>
          <a href="#" class="button">View</a>
        </div>
      </div>
    </div>

  </div>
</div>