<section id="page">
  <nav>
    <h1 class="text-dark" id="tag">Admin Panel</h1>
    
    
    <div class="left-sidebar x">
      <ul>
        <li><a href="#"><em class="fa fa-home"></em> <span>Dashboard</span></a></li>
        <li><a href="#" routerLink="/reply"><em class="fa fa-comment"></em> <span>compose</span></a></li>
        <li><a href="#" (click)="out()"><em class="fa fa-sign-out"></em> <span>Sign Out</span></a>
        </li>
      </ul>
    </div>
  </nav>
</section>




<div class="container1">
  <div class="profile-details">
    <span class="admin_name">Admin</span>
    <img src="../../assets/profile.png" class="admin" alt="profile" />
   
    <em class="bx bx-chevron-down"></em>
  </div>
  <div class="cards">
    <div class="card one">
      <div class="details">
        <div class="content">
          <h2>Registration</h2>
          <p>user registration.</p>
          <a href="#" class="button" routerLink="/newuser">View</a>
        </div>
      </div>
    </div>
    <div class="card one">
      <div class="details">
        <div class="content">
          <h2>Report</h2>
          <p>
            User Report panel.
          </p>
          <a href="#" class="button" routerLink="/reportdetails">View</a>
        </div>
      </div>
    </div>
    <div class="card one">
      <div class="details">
        <div class="content">
          <h2>Query</h2>
          <p>User Query</p>
          <a href="#" class="button" routerLink="/viewquery">View</a>
        </div>
      </div>
    </div>
    <div class="card two">
      <div class="details">
        <div class="content">
          <h2>Feedback</h2>
          <p>Feedback from user</p>
          <a href="#" routerLink="/contactdetails" class="button">View</a>
        </div>
      </div>
    </div>

  </div>
</div>