<section id="page">
  <nav>
    <h1 class="text-dark" id="tag">Admin Panel</h1>
    
   
    <div class="left-sidebar x">
      <div>
        <button class="btn btn-secondary" id="dashboard"><em class="fa fa-home"></em>Dashboard</button>
        </div>
        <div>
        <button class= "btn btn-secondary"id="compose"routerLink="reply"><em class="fa fa-comment"></em>compose</button>
       </div>
       <div>
        <button class="btn btn-secondary" id="sign" (click)="out()"><em class="fa fa-sign-out"></em>Sign Out</button>
        
      </div>
      
    </div>
  </nav>
</section>




<div class="container1">
  <div class="profile-details">
    <span class="admin_name">Admin</span>
    <img src="../../assets/profile.png" class="admin" alt="profile" />
   

  </div>
  <div class="cards">
    <div class="card one">
      <div class="details">
        <div class="content">
          <h2>Registration</h2>
          <p>user registration.</p>
          <a href="#" class="button" routerLink="/newuser">View</a>
        </div>
      </div>
    </div>
    <div class="card one">
      <div class="details">
        <div class="content">
          <h2>Report</h2>
          <p>
            User Report panel.
          </p>
          <a href="#" class="button" routerLink="/reportdetails">View</a>
        </div>
      </div>
    </div>
    <div class="card one">
      <div class="details">
        <div class="content">
          <h2>Query</h2>
          <p>User Query</p>
          <a href="#" class="button" routerLink="/viewquery">View</a>
        </div>
      </div>
    </div>
    <div class="card two">
      <div class="details">
        <div class="content">
          <h2>Feedback</h2>
          <p>Feedback from user</p>
          <a href="#" routerLink="/contactdetails" class="button">View</a>
        </div>
      </div>
    </div>

  </div>
</div>