#page{
  display:grid;
  width:100%;
  height:100vh;
  left:0;
  top:0;
 
  grid-template-areas:"head head"
                      "nav main"
                      "nav foot";
  grid-template-rows:50px 1fr 50px;
  grid-template-columns:250px 1fr;
  
}
#page > nav{
  
  border:2px solid black;
  margin-top: -1px;
  height: 760px;
  background-color: rgb(100, 98, 98);
}
#tag{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 40px;
  text-decoration: underline;
}
#page > main{
  grid-area:main;
  background-color:gray;
  border:2px solid gray;
}

.left-sidebar a{
text-decoration:none;
color:black;
  transition:0.5s;
 
}
.left-sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--bg);
}

.left-sidebar li {
  float: left;
  width:100%;
}

.left-sidebar li a {
  display: block;
  color: black;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
  font-size:18px;
}

.left-sidebar li a:hover {
  background-color:var(--bg-hover);
}
.left-sidebar li a:focus {
  background-color:var(--bg-hover);
}
.left-sidebar ul li span{
  padding-left:5px;
}
footer{
  position:absolute;
  width:100%;
  height:100%;
}
footer a{
  text-decoration:none;
  color:#fff;
  float:left;
  padding:5px;
  border-left:2px solid white;
  border-bottom:2px solid white;
  border-radius:5px;
  margin:5px 0px 0px 5px;
  transition:0.3s;
}
footer a:hover{
  background:var(--bg-hover);
}
footer a i{
  transform:scale(1.5);
  padding:5px;
}
h1 {
  color: #ffffff;
}

.container1 {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-left: 176px;
  margin-top: -636px;
  
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3%;
}

.card {
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  height: 15rem;
  width: 15rem;
  border-radius: 2rem;
  box-shadow: 0 0 2px #ffffff80;
 
}

.card.one {
  
  background-color: rgb(100, 98, 98);

}

.card.two {
  
  background-color: rgb(100, 98, 98);

}


#dashboard{
  margin-top: 10px;
}
#sign{
  margin-top: 30px;
}
#compose{
  margin-top: 30px;
}

.details {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #ffffff10;
  border-top: 1px solid #ffffff30;
  border-radius: 2rem;
  -webkit-backdrop-filter: blur(0.75rem);
  backdrop-filter: blur(0.75rem);
  transition: ease 0.5s;
}

.details:hover {
  padding-bottom: 5%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 1rem;
}

.content h2 {
  color: black;
  font-size: 30px;
  margin-bottom: 0.5rem;
}

.content p {
  color: #ffffffaa;
  margin-bottom: 1.5rem;
  text-align: center;
}

.content a {
  background-image: linear-gradient(
    90deg,
    #5b2fd6b2 0%,
    #e61c59 50%,
    #7dfff9ef 100%
  );
  background-size: 200%;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.75rem 4rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 10px -3px #00000025;
  transition: 0.5s;
}

.content a:hover {
  background-position: right;
}

 .profile-details{
 
  margin-top: -300px;
}
.profile-details img{
  height: 40px;
  width: 40px;
  border-radius: 6px;
  object-fit: cover;
  
  margin-left: 900px;
}
.profile-details .admin{
  margin-left: 950px;
  margin-top: -60px;
}
.profile-details .admin_name{
  font-size: 15px;
  font-weight: 500;
  color: #333;
  margin: 0 10px;
  white-space: nowrap;
  margin-left: 1000px;
}
.profile-details em{
  font-size: 25px;
  color: #333;
}