ul {
    background: #060606;
    list-style: none;
    padding: 0;
  }
ul li {
    display: inline-block;
    line-height: 21px;
    position: relative;
    text-align: left;
  }
ul li a {
    color: #333;
    display: block;
    padding: 8px 25px;
    text-decoration: none;
  }
ul li a:hover {
    background: #939393;
    color: #fff;
  }
ul li ul.dropdown {
    background: #070707;
    display: none;
    left: 0;
    min-width: 100%;
    position: absolute;
    z-index: 999;

 
  }
ul li:hover ul.dropdown {
    display: block;

   
  }
ul li ul.dropdown li {
    display: block;
  }
