<!-- <div class="wrapper">
    <h1>Hi, how are you today?</h1>
    <p class="content">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente officia ratione, minima provident illum architecto repellendus dicta sequi aliquid corporis molestiae. Magnam in architecto quis voluptatum repellat. Mollitia inventore minus placeat molestias eveniet officiis, ex modi nemo illo animi quasi perspiciatis veniam voluptatem facilis quis libero, temporibus voluptas cupiditate? Nesciunt iusto et quidem cupiditate accusamus officia autem! Neque perspiciatis error et magnam blanditiis ea adipisci id? Dolore, omnis provident fugit doloribus nihil ipsum fugiat labore?
    </p>
    <a href="#" class="btn">Let me know</a>
  </div>
<div class="features-page-cards">
    <div class="row features-page-card track">
        <div class="col-md-6 page-card-left">
            <h2>Track Me</h2>
            <p>
            “Track Me” function shares your location with your trusted contacts group when you’re not feeling safe on your daily walk or during any other activity. Additionally, you can choose how long you want the feature to run.
            </p>
            <a href="https://www.imsafe.app/help#2">Know More</a>
        </div>
        <div class="middle-img">
            <img class="img" src="https://www.imsafe.app/assets/images/features/img/1.png" alt="">
            <span class="vert-line"></span>
            <img class="anim" src="../../assets/pic1.gif" alt="">
        </div>
        
        <div class="col-md-6 page-card-right">
            <h2>
            Why is it important?
            </h2>
            <p>
            Many apps with the location tracking feature do not update when you lock the phone screen. It only updates when the phone is active. When activated, this feature continually updates the user’s location even if the user locks the phone. Most apps only share your location with one person. Here, the app sends your location information to every member of your trusted circle.
            </p>
        </div>
    </div>
    <div class="row features-page-card sos">
        <div class="col-md-6 page-card-left">
            <h2>SOS</h2>
            <p>
            Activated during an emergency, the SOS feature sends out an alert message to your trusted contacts group along with your location, images, and an audio recording. SOS is designed to help you out of a dangerous situation.
            </p>
            <a href="https://www.imsafe.app/help#3">Know More</a>
        </div>
        <div class="middle-img">
            <img class="img" src="https://www.imsafe.app/assets/images/features/img/2.png" alt="">
            <span class="vert-line"></span>
            <img class="anim" src="../../assets/pic2.gif" alt="">
        </div>
        <div class="col-md-6 page-card-right">
            <h2>
            Why is it important?
            </h2>
            <p>
            The feature immediately sends a distress signal to the trusted contacts. That way, they are immediately alerted to the user’s situation and can take the necessary action. Additionally, the SOS will continue functioning until the trusted contact gets back to you. This process ensures that only the user can turn off the SOS function and no one else.
            </p>
        </div>
    </div>
    <div class="row features-page-card data">
        <div class="col-md-6 page-card-left">
            <h2>Data Security</h2>
            <p>
            The I’m safe app gathers and stores data through quantum ledger technology. The process utilizes a combination of programming and advanced data storing techniques to store the information in a cryptographically-secure manner.
            </p>
            <a href="https://www.imsafe.app/help#2c">Know More</a>
        </div>
        <div class="middle-img">
            <img class="img" src="https://www.imsafe.app/assets/images/features/img/4.png" alt="">
            <span class="vert-line"></span>
            <img class="anim" src="../../assets/pic3.gif" alt="">
        </div>
        
        <div class="col-md-6 page-card-right">
            <h2>
            Why is it important?
            </h2>
            <p>
            The purpose of this feature is to provide verifiable data in a court of law or official capacity. Typically, information stored on any server is vulnerable to manipulation and hacking. That makes the data unreliable. However, the data storing methods used here ensure that the information provided is completely authentic.
            </p>
        </div>
    </div>
    <div class="row features-page-card selective">
        <div class="col-md-6 page-card-left">
            <h2>Selective info sharing</h2>
            <p>
            The contacts who are part of the trusted contacts list get regular updates on the user’s location and other essential information at regular intervals. However, the user can de-list specific contacts from that trusted circle under specific circumstances. These contacts will not know the user’s whereabouts for a set time period.
            </p>
            <a href="">Know More</a>
        </div>
        <div class="middle-img">
            <img class="img" src="https://www.imsafe.app/assets/images/features/img/3.png" alt="">
            <span class="vert-line"></span>
            <img class="anim" src="https://www.imsafe.app/assets/images/features/gif/track.gif" alt="">
        </div>
        
        <div class="col-md-6 page-card-right">
            <h2>
            Why is it important?
            </h2>
            <p>
            There are some instances where the user wants to hide their activity from their trusted contacts without alerting them. This option gives the user the freedom to do exactly that while leaving a trail with the trusted contacts with whom they choose to share. Here, the user can withhold specific information from specific contacts without removing them from the trusted contacts list.
            </p>
        </div>
    </div>
</div> -->





<!-- <div class="container">
<div class="sp-container">
    <div class="sp-content">
      <h2 class="frame-1">AWESOME</h2>
      <h2 class="frame-2">TEXT ANIMATION EFFECT</h2>
      <h2 class="frame-3">BUILD WITH CSS3</h2>
      <h2 class="frame-4">TEST IT!</h2>
      <h2 class="frame-5">
        <span>FORK,</span>
        <span>CHANGE,</span>
        <span>EXPERIANCE.</span>
      </h2>
    </div>
  </div>
</div> -->




        <div class="align">
            <!-- <img src="../../../assets/solution.webp" class="solution"> -->
            <h1 class="text">SOS - Solution for Emergencies</h1>
            <h3 class="text1">Personal Safety at your Fingerprints</h3>
            <!-- <button id="submitButton" type="submit" class="btn btn-primary" routerLink="/signup">REGISTER NOW</button> -->
        </div>
        <div class="card">
            <div class="imgBx">
                <img src="https://wallpaperscraft.ru/image/gory_reka_derevya_izgiby_hvoynye_6386_300x400.jpg">
            </div>
            <div class="details">
                <h2>SOS</h2>
                <p>Alert your trusted contacts during an emergency</p>
                <p>Activated during an emergency, the SOS feature sends out an alert message to your trusted contacts group along with your location, images, and an audio recording. SOS is designed to help you out of a dangerous situation.</p>
            </div>
        
            <div class="imgBox">
                <img src="../../assets/fix5.jpg">
            </div>
            <div class="description">
                <h2>What is Lorem Ipsum?</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </div>
            