
.col-right{
      margin-left: 90px;
      margin-top: -240px;
  }
.section-title{
      margin-top: -350px;
  }
.para{
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      margin-left: 250px;
      margin-right: 180px;
      text-align: justify;
  }
img, svg {
      height: 500px;
      margin-top: -67px;
      vertical-align: middle;
  }
#about .about {
      flex-direction: column-reverse;
      margin: 0 auto;
      max-width: 1200px;
      padding: 100px 20px;
      text-align: center;
  }
#about .col-left {
      height: 360px;
      width: 250px;
  }
#about .col-right {
      width: 100%;
  }
#about .col-right h2 {
      font-size: 1.8rem;
      font-weight: 500;
      letter-spacing: 0.2rem;
      margin-bottom: 10px;
  }
#about .col-right p {
      margin-bottom: 20px;
  }
#about .col-right .cta {
      color: black;
      font-size: 2rem;
      margin-bottom: 50px;
      padding: 10px 20px;
  }
#about .col-left .about-img {
      border: 10px solid white;
      height: 100%;
      position: relative;
      width: 100%;

   
  }
#about .col-left .about-img::after {
      border: 7px solid crimson;
      content: '';
      height: 98%;
      left: -33px;
      position: absolute;
      top: 19px;
      width: 98%;
      z-index: -1;

    
  }
.btn{
      background-color: rgb(168, 107, 168);
      border-radius: 20px;
  }
.btn:hover
{
          background:#379df0;
      }
@media screen and (max-width:800px)
{
.img{
      height: auto;
      max-width: 100%;
  }
    .col-right{
          padding: 140px 30px;
      }
    .col-left
{
      padding: 140px 30px;
  }
}