
.container{
      background-image: linear-gradient(to right,rgb(135, 162, 231),rgb(141, 193, 241));
      border: 2px solid gray;
      padding: 70px;
  }
.form-control{
      width:60%;
  }
#size{
  width:123%
}
#logout{
      margin-left: 20px;
  }
.contact-us{
      margin-left: 555px;
      margin-top: -286px;
      width: 63%;
  }
