


<footer class="footer-distributed">

    <div class="footer-left">

      <img src="../../assets/footer.png" alt="footerimg" width=130 height=100><span class="text-light">Emergency-SOS</span>

      <p class="footer-links">
        <a href="#">Home</a> ·
        <a href="#" routerLink="about">About</a> ·
        <a href="#"routerLink="faq">Faq</a> ·
        <a href="#">Contact</a>
      </p>

      
    </div>

    <div class="footer-center">

      <div>
        <em class="fa fa-map-marker" id="address"></em>
        <p><span>21,Social Organisation SOS-emergency</span> Chennai, Tamilnadu</p>
      </div>

      <div>
        <em class="fa fa-phone" id="phone"></em>
        <p>112 or 100</p>
      </div>

      <div>
        <em class="fa fa-envelope" id="mail"></em>
        <p><a href="mailto:sos24@gmail.com">sos24@gmail.com</a></p>
      </div>

    </div>

    <div class="footer-right">

      <p class="footer-company-about">
        <span>About this app</span> follow us on
      </p>

      <div class="footer-icons">

        <a href="https://www.facebook.com/NACRPCofficial/photos/a.712094105843180/748724212180169/?type=3"><em class="fa fa-facebook"></em></a>
        <a href="https://twitter.com/ssafeup?lang=en"><em class="fa fa-twitter"></em></a>
        <a href="https://www.instagram.com/womens.girls.emergency.centre/?hl=en"><em class="fa fa-instagram"></em></a>
        <a href="https://www.youtube.com/watch?v=ONkY7NZhT4Y"><em class="fa fa-youtube"></em></a>

      </div>

    </div>

  </footer>
