
  
    <div class="container-fluid footer mt-5">
    <div class="row">
        <!-- name  -->
        <div class="col-lg-6 mt-3 mb-3">
            <h1>EMERGENCY-SOS</h1>
            <p>SAFETY FIRST IS SAFETY ALWAYS</p>
        </div>
        <!-- nav  -->
        <div class="col-lg-4 mt-3 mb-3">
            <a routerLink="">Home      </a>
            <a routerLink="faq">FAQ    </a>
            <a routerLink="about">About    </a>
            <a routerLink="contact">Contact</a>
        </div>
        <!-- socialmedia -->
        <div>
            <h2 class="text-light">socialmedia</h2>
        
        <div class="col-lg-2 mt-3 mb-3" id="icon">
             <a href="#" target="_blank"><em class="fab fa-facebook"></em></a>
            <a href="#" target="_blank"><em class="fab fa-whatsapp"></em></a>
            <a href="#" target="_blank"><em class="fab fa-instagram"></em></a>
            <a href="#" target="_blank"><em class="fab fa-youtube"></em></a>
        </div>
        </div>
    </div>
</div>
