<!-- 
  
    <div class="container-fluid footer mt-5">
    <div class="row">
        <!-- name  -->
        <!-- <div class="col-lg-6 mt-3 mb-3">
            <h1>EMERGENCY-SOS</h1>
            <p>SAFETY FIRST IS SAFETY ALWAYS</p>
        </div> -->
        <!-- nav  -->
        <!-- <div class="col-lg-4 mt-3 mb-3">
            <a routerLink="">Home      </a>
            <a routerLink="faq">FAQ    </a>
            <a routerLink="about">About    </a>
            <a routerLink="contact">Contact</a>
        </div> -->
        <!-- socialmedia -->
        <!-- <div>
            <h2 class="text-light">socialmedia</h2> -->
        
        <!-- <div class="col-lg-2 mt-3 mb-3" id="icon">
             <a href="#" target="_blank"><em class="fab fa-facebook"></em></a>
            <a href="#" target="_blank"><em class="fab fa-whatsapp"></em></a>
            <a href="#" target="_blank"><em class="fab fa-instagram"></em></a>
            <a href="#" target="_blank"><em class="fab fa-youtube"></em></a>
        </div>
        </div>
    </div>
</div>  -->


<footer class="footer-distributed">

    <div class="footer-left">

      <img src="../../assets/footer.png" alt="footerimg" width=130 height=100><span class="text-light">Emergency-SOS</span>

      <p class="footer-links">
        <a href="#">Home</a> ·
        <a href="#" routerLink="about">About</a> ·
        <a href="#"routerLink="faq">Faq</a> ·
        <a href="#">Contact</a>
      </p>

      <!-- <p class="footer-company-name">Bangin &copy; 2018</p> -->
    </div>

    <div class="footer-center">

      <div>
        <i class="fa fa-map-marker"></i>
        <p><span>21,Social Organisation SOS-emergency</span> Chennai, Tamilnadu</p>
      </div>

      <div>
        <i class="fa fa-phone"></i>
        <p>112 or 100</p>
      </div>

      <div>
        <i class="fa fa-envelope"></i>
        <p><a href="mailto:sos24@gmail.com">sos24@gmail.com</a></p>
      </div>

    </div>

    <div class="footer-right">

      <p class="footer-company-about">
        <span>About this app</span> follow us on
      </p>

      <div class="footer-icons">

        <a href="https://www.facebook.com/NACRPCofficial/photos/a.712094105843180/748724212180169/?type=3"><i class="fa fa-facebook"></i></a>
        <a href="https://twitter.com/ssafeup?lang=en"><i class="fa fa-twitter"></i></a>
        <a href="https://www.instagram.com/womens.girls.emergency.centre/?hl=en"><i class="fa fa-instagram"></i></a>
        <a href="https://www.youtube.com/watch?v=ONkY7NZhT4Y"><i class="fa fa-youtube"></i></a>

      </div>

    </div>

  </footer>
