<div class="body">
<div class="text">

    <h1 class="lineUp">

        <span>"SAFETY  FIRST</span>
        <span>  IS SAFETY ALWAYS"</span>
        <div>
        <span></span>
        <span>  Personal Safety at your Fingertips ➡</span>
        <div>
        <span class="text-danger"> SAFE WOMEN SAFE INDIA </span>
        </div>
        <div>__________________________</div>
        </div>
        <span><img src="../../assets/kermit-panic.gif" class="icon"></span>
      </h1>
      
</div>
</div>
<div class="list">
  <h1>
<span class="left">   Instructions</span>
<span class="center">      Registeries</span>
<span class="right">      Blogs</span>
</h1>
</div>