<div class="container">
  <button type="button"class="btn btn-primary" routerLink="/dashboard-admin">Back</button>
    <table class="table table-hover">
      <caption>Contact Entry</caption>
      <thead>
        <tr>
          
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Message</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of store">
          <th scope="col">{{ row.name }}</th>
         
          <th scope="col">{{ row.email }}</th>
         
          <th scope="col">{{ row.message }}</th>
  
            <td>
             
              <button class="btn btn-primary"(click)="erase(row._id,row._rev)" >Delete</button>
            </td>
        </tr>
      </tbody>
    </table>
  </div>