<div class="container">
  <h1 class="caption">User's Feedback</h1>
  
    <table class="table table-hover">
      <caption></caption>
      <thead>
        <tr>
          
          <th scope="row">Name</th>
          <th scope="row">Feedback</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let obj of object">
          <th scope="row">{{ obj.name }}</th>
          <th scope="row">{{ obj.message }}</th>
  
            <td>
             
              <button class="btn btn-primary"(click)="removecontact(obj,obj)" >Delete</button>
            </td>
           
        </tr>
      </tbody>
    </table>
    <button type="button"class="btn btn-primary" routerLink="/dashboard-admin">Back</button>
  </div>