
.navbar-header{
    font-family:'Times New Roman', Times, serif;
    background: linear-gradient(120deg, #ebecf0,#f44747ee );
    border-radius: 20px;
    padding: 5px 10px 0 10px;

}
.img{
    height: 40px;
    width: 40px;
}