
<section id="services">
    <div class="servicescontainer">
      <div class="service-top">
        <h1 class="section-title"><strong>Serv<span>i</span>ces</strong>🤝</h1>
      </div>
      <div class="service-bottom">
        <div class="service-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/services.png" alt="service image"/></div>
          <h2>Add emergency contacts</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis debitis rerum, magni voluptatem sed
            architecto placeat beatae tenetur officia quod</p>
            <div>
               <button id="addButton" type="add" class="btn btn-primary" routerLink="/add">+ADD</button> 
    
            </div>
            
        </div>
        <div class="service-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/services.png" alt="service image" /></div>
          <h2>Remove emergency contacts</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis debitis rerum, magni voluptatem sed
            architecto placeat beatae tenetur officia quod</p>
            <div>
              <button id="removeButton" type="remove" class="btn btn-primary" routerLink="/remove">-REMOVE</button>
            </div>
        </div>
        <div class="service-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/services.png" alt="service image"/></div>
          <h2>Call emergency services</h2>
          <p>Try 100 or 112.[1] These numbers work with many mobile service providers worldwide, due to efforts by the European Union and the United States. Try these first, unless a local knows a number that will work on mobile phones.</p>
          <div>
            <button id="callButton" type="call" class="btn btn-primary" routerLink="/contact">📞call us</button>
          </div>
        </div>
         <div class="service-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/services.png" alt="service image"/></div>
          <h2>Terms & Privacy</h2>
          <p>Our application helps by alerts to your selected contacts.It will help all people who travel alone, as well as older people, feel safe!
          </p>
          <button id="viewButton" type="terms" class="btn btn-primary" routerLink="/terms">👁View</button>
        </div>
      </div>
    </div>
  </section>