
#services .services {
      flex-direction: column;
      margin: 0 auto;
      max-width: 1500px;
      padding: 100px 0;
      text-align: center;
  }
#services .service-top {
      margin: 0 auto;
      max-width: 500px;
  }
#services .service-bottom {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 50px;
  }
#services .service-item {
      align-items: flex-start;
      background-image: url('https://image.shutterstock.com/image-photo/sos-general-medical-services-concept-260nw-1983948881.jpg');
      background-size: cover;
      border-radius: 10px;
      display: flex;
      flex-basis: 80%;
      flex-direction: column;
      justify-content: center;
      margin: 10px 5%;
      overflow: hidden;
      padding: 30px;
      position: relative;
      z-index: 1;

    /*   */
  }
#services .service-item::after {
      background-color: rgb(79, 78, 78);
      content: '';
      height: 100%;
      left: 0;
      opacity: 0.9;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: -1;
  }
#services .service-item::after:hover{
      background-color: darkorchid;
  }
#services .service-bottom .icon {
      height: 80px;
      margin-bottom: 20px;
      width: 80px;
  }
#services .service-item h2 {
      color: white;
      font-size: 2rem;
      margin-bottom: 10px;
      text-transform: uppercase;
  }
#services .service-item p {
      color: white;
      text-align: left;
  }
#services .service-item p:hover{
      color: aqua;
  }
h1{
      font-family: 'Times New Roman', Times, serif;
      font-style: bold;
      margin-top: 25px;
      text-align: center;
  }
