.entire{
      background-image: linear-gradient(to right,rgb(135, 162, 231),rgb(141, 193, 241));
      border: 2px solid gray;
      box-shadow: black;
      height: 70vh;
      margin-left: 380px;
      margin-top: 80px;
      width: 50%;
  }
.heading{
      text-align: center;
  }