<section class="entire">
  <div class="container">
    <h2 class="heading">Raise your Query</h2>
    <form [formGroup]="addform">
      <div class="row100">
        <div class="col">
          <div class="inputBox">
            <div>
              <label for="firstname">First Name</label>
              <input for="firstname" class="form-control" formControlName="firstname" placeholder="Your name..">
              <span class="text-danger" *ngIf="addform.controls['firstname'].touched && addform.hasError('required','firstname')">
                * firstname is required!!
              </span>
          </div>
          </div>
        </div>
        <div class="col">
          <div>
            <label for="lastname">Last Name</label>
            <input for="lastname" class="form-control" formControlName="lastname" placeholder="Your name..">
            <span class="text-danger" *ngIf="addform.controls['lastname'].touched && addform.hasError('required','lastname')">
              * lastname is required!!
            </span>
          </div>
        </div>
        <div class="col">
          <div>
            <label for="email">E mail</label>
            <input for="email" class ="form-control"placeholder="Email Address" formControlName="email" pattern="[A-Za-z0-9]*@gmail.com">
            <span class="text-danger"  *ngIf="addform.controls['email'].touched && addform.hasError('required','email')">
                *Invalid Email Address
            </span>
            <span class="text-danger"
                        *ngIf="addform.controls['email'].touched && addform.hasError('pattern','email')">*Email pattern is invalid
                    </span>
        </div>
        </div>
        <div class="col">
          <div>
            <label for="lastname">Mobile Number</label>
            <input for="mobileno" class="form-control" formControlName="mobileno" pattern="^((\\+91-?)|0)?[0-9]{10}$" type="tel" placeholder="mobile number" maxlength="10"/>
            <span class="text-danger" *ngIf="addform.controls['mobileno'].touched && addform.hasError('required','mobileno')">
              * mobileno is required!!
            </span>
            <span class="text-danger" *ngIf="addform.hasError('pattern','mobileno')">
              * mobileno should contain 10 Numbers!!
            </span>   
        </div>
        </div>
        
      </div>
      <div class="row100">
        <div class="col">
          <div class="inputBox textarea">
            <label for="query">Type Your Message Here....</label>
            
            <input for="text" value="" formControlName="query" class="form-control" id="query"  />
            <span class="text-danger"  *ngIf="addform.controls['query'].touched && addform.hasError('required','query')">
              *Query is required
          </span>
          </div>
        </div>
      </div>
      <div class="row100">
        <div class="col">
          <input type="submit" value="send" (click)="addQuery(this.addform.value)" [disabled]="!addform.valid" />
        </div>
  <button type="button" class="btn btn-primary" id="button" routerLink="/dashboard">Back</button>

      </div>
    </form>
  </div>
</section>