/* CONTACT */
.title{
    text-align: center;
    margin-top: 50px;
}
.contact {
    position: relative;
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
  }
  
  .contact-form {
    position: relative;
    background-color: #f9f9f9;
    width: 60%;
    padding: 30px 30px 20px;
  }
  
  .contact-form form {
    width: 100%;
  }
  
  .contact-form .row {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .contact-form .input50,
  .contact-form .input100 {
    width: 100%;
    margin: 0;
  }
  
  .contact-form .row input,
  .contact-form .row textarea {
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: #111;
    background: transparent;
    width: 100%;
    padding: 10px;
    outline: none;
    font-size: 1rem;
    font-family: inherit;
    font-weight: 300;
    margin: 10px 0;
    resize: none;
  }
  
  .contact-form .row textarea {
    height: 150px;
  }
  
  .contact-form .row input[type="submit"] {
    background-color: var(--secondary-color);
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
    border: 0;
    cursor: pointer;
  }
  
  .contact-info {
    width: 43%;
    margin-top: 20px;
    background: #50e4bd;
    border:2px solid black;
    margin-left: 406px;
    padding: 30px 30px 20px;
  }
  
  .contact-info .info-box {
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px;
  }
  
  .contact-info .info-box .contact-icon {
    width: 20px;
    margin-right: 40px;
  }
  
  .contact-info .info-box .details h4 {
    color: var(--secondary-color);
  }
  
  .contact-info .info-box .details p,
  .contact-info .info-box .details a {
    color: var(--text-color);
  }