/* *{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    /* background: linear-gradient(120deg, #2980b9, #8e44ad); */
  /* }
  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 470px;
    height: 400px; */
    /* background: linear-gradient(120deg, #da2828, #737272); */
    /* background: transparent;
    border-radius: 20px;
    border: 10px solid silver;
    border-radius: 20px;
  }
  .center h1 {
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
  }
  .center form {
    padding: 0 40px;
    box-sizing: border-box;
  }
  form .text_field {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
  }
  .text_field input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
  }
  .text_field label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: aliceblue;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events:none;
     transition: 0.5s; 
  } */
  /* .text_field span::before {
    content: "";
    position:fixed;
    top: 40px;
    left: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: rgb(0, 217, 255);
  } */
  /* .text_field input:focus ~ label,
  .text_field input:focus ~ label {
    top: -5px;
    color: white;
  }
  .text_field input:focus ~ span::before,
  .text_field input:valid ~ span::before {
    width: 100%;
  }
  .pass {
    margin: -5px 0 20px 5px;
    color: white;
    cursor: pointer;
  }
  .pass:hover {
    text-decoration: underline;
  }
  input[type="submit"] {
    width: 100%;
    height: 50px;
    border: 50px;
    background: #2691d9;
    border-radius: 1px solid;
    border-radius: 25px;
    font-size: 18px;
    color: white;
    font-weight: 700;
    cursor: pointer;
    outline: none;
  }
  input[type="submit"] {
    border-color: #2691d9;
    transition: 0.5s;
  }
  .signup_link {
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: white;
  }
  .signup_link a {
    color: #2691d9;
    text-decoration: none;
  }
  .signup_link a:hover {
    text-decoration: underline;
  } */ 
  input{
    border:none;
    background-color: rgba(255,255,255,0);
    border-bottom:solid black;
    size:3px;
    margin-left: 10px;
    width: 85%;
}

label{
    color: grey;
}
.form-group{
    margin-top:30px;
}
form{
    padding:12px;
}

#submitButton{
    margin: 25px;
    width: 40%;
}
#appContainer{
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to right, rgba(251,194,235,1), rgba(179,202,243,1));
}

#cardStyle{
  background-color: rgb(255,255,255,0.4);
  box-shadow: 5px 3px 10px 5px gray;
}
.container-fluid {
  margin-left: 341px;
  margin-top: 100px;
  width: 500px;
  border: 2px solid silver;
  background-color: lightgrey;
}