
        <div class="container">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Mobile NO</th>
                <th scope="col">Date of Birth</th>
                <th scope="col">Gender</th>
                <th scope="col">City</th>
                <th scope="col">Time</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of store">
                <th scope="col">{{ row.name }}</th>
                <th scope="col">{{ row.mobileno}}</th>
                <th scope="col">{{ row. dateofbirth }}</th>
                <th scope="col">{{ row.gender }}</th>
                <th scope="col">{{ row.city }}</th>
        <th scope="col">{{row.time}}</th>
              
                <td>
                  <button class="btn btn-primary" (click)="erase(row._id, row._rev)">
                    Delete
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>