.container{
      background-image: linear-gradient(to right,rgb(135, 162, 231),rgb(141, 193, 241));
      border-radius: 5px;
      margin-top: 50px;
      padding: 20px;
      width: 558px;
  }
input[type=text], select, textarea {
      border-radius: 4px;
      border: 1px solid #ccc;
      box-sizing: border-box;
      margin-bottom: 16px;
      margin-top: 6px;
      padding: 12px;
      resize: vertical;
      width: 100%;
  }
  input[type=submit] {
      background-color: #04AA6D;
      border: none;
      color: white;
      cursor: pointer;
      padding: 12px 20px;
  }  
  .heading{
      text-align: center;
  }
  #button{
    margin-left: 449px;
    margin-top: -65px;
    height: 42px;
    padding: 2px;
    width: 58px;
  }