<section class="msger">

  <header class="msger-header">
    <div class="msger-header-title">
      <em class="fas fa-comment-alt"></em>Chat
    </div>

  </header>

  <main class="msger-chat">
    <div class="msg left-msg">


      <div class="msg-bubble">
        <div class="msg-info">
          <div class="msg-info-name">ADMIN</div>

        </div>

        <div class="msg-text" *ngFor="let obj of object">

          <p class="text-dark">{{obj.message}}</p>
        </div>
      </div>
    </div>
  <button type="button" class="btn btn-primary" id="button" routerLink="/dashboard">Exit</button>

  </main>

</section>