
  
  .msger {
      background: rgb(7, 248, 116);
      background:rgb(68, 234, 167);
      border-radius: 5px;
      border: var(--border);
      box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
      display: flex;
      flex-flow: column wrap;
      height: 50vh;
      justify-content: space-between;
      margin: 25px 10px;
      max-width: 867px;
      width: 100%;

    /*  */
  }  
  .msger-header {
      background: rgb(7, 7, 7);
      border-bottom: var(--border);
      color: rgb(249, 249, 249);
      display: flex;
      justify-content: space-between;
      padding: 10px;
  }  
  .msger-chat {
      flex: 1;
      overflow-y: auto;
      padding: 10px;
  }
 
  .msg {
      align-items: flex-end;
      display: flex;
      margin-bottom: 10px;
  }
  .msg:last-of-type {
      margin: 0;
  }
  .msg-img {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background: #ddd;
      border-radius: 50%;
      height: 50px;
      margin-right: 10px;
      width: 50px;
  }
  
  .msg-info {
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
  }
  .msg-info-name {
      font-weight: bold;
      margin-right: 10px;
  }
  
  .left-msg .msg-bubble {
      border-bottom-left-radius: 0;
  }
  #button{
    margin-left: 765px;
    margin-top: -219px;
    height: 30px;
    padding: 2px;
    width: 58px;
  }