<section class="contact_us">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="contact_inner">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="contact_form_inner">
                                <div class="contact_field">

                                    <h3>Help us to improve</h3>
                                    <form [formGroup]="addform">
                                        <div>
                                        <input for="text" class="form-control form-group" formControlName="name"
                                            id="name" placeholder="Name" />
                                            <span class="text-danger" *ngIf="addform.controls['name'].touched && addform.hasError('required','name')">
                                                * Name is required!!
                                              </span>
                                            </div>
                                            <div>
                                        <textarea class="form-control form-group" formControlName="message" id="message"
                                            placeholder="Feedback"></textarea>
                                            <span class="text-danger" *ngIf="addform.controls['message'].touched && addform.hasError('required','message')">
                                                * Feedback is required!!
                                              </span>
                                            </div>
                                        <ngb-rating [(rate)]="star"></ngb-rating>
                                        <pre>Rate us: <strong>{{star}}</strong></pre>
                                        <button class="contact_form_submit"
                                            (click)="addmessage(this.addform.value)">Send feedback</button>
  <button type="button" class="btn btn-primary" id="button" routerLink="/dashboard">Back</button>

                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="contact_info_sec">
                        <img src="../../assets/Feedback_Icon.png" alt="feedback icon image" width="280">

                    </div>
                </div>
            </div>
        </div>
    </div>

</section>